SUPABASE_URL=https://jejiiofxpbopvtqrchgl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Implamlpb2Z4cGJvcHZ0cXJjaGdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NzU1NDYsImV4cCI6MjA5NzM1MTU0Nn0.EsgUAhROqI_q5vaIxnAgHs2aK5nGvcwmlflXC05L-kk
JWT_SECRET=college_bus_tracker_jwt_secret_2026
NODE_ENV=development
